<li>
  <%= gravatar_for user, :size => 30 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? %>
    | <%= link_to "Löschen", user, :method => :delete, :confirm => "Sind Sie sicher?",
      :title => "Nutzer #{user.name} löschen" %>
  <% end %>
</li>
